* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2,
h3,
p {
    display: flex;
    justify-content: center;
}

p {
    margin: 10px;
    padding: 10px;
}

.headshot-image {
    max-height: 500px;
}

.project-card {
    min-height: 50vh;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}

.card-screenshot {
    max-width: 100%;
    min-height: 80%;
    flex: 1;
    background-color: rgb(194, 97, 97);
}
